html, body {
  height: 100%;
}

#devise-content {
  width: 700px;
  height: 400px;
  margin:0 auto;
  background-color: whitesmoke;
}

.header-title {
  font-size: 40px;
  color: #ee6e73;
  padding-top: 20px;
  text-align: center;
}

#new_user {
  width: 700px;
  height: 400px;
  margin:0 auto;
}

.form-body {
  width: 800px;
  margin:0 auto;
  background-color: whitesmoke;
  padding: 20px;
}

.post-title {
  margin:0 auto;
  padding: 20px;
  color: gray;
  text-align: center;
  font-size: 30px;
}

.main-content {
  width: 95%;
  height: 100%;
  margin:0 auto;
  padding: 20px 0 0 0;
}

.frame {
  width: 300px;
  float: left;
  padding: 10px 10px 0 0;
}


.card {
  width: 260px;
  height: 420px;
  position: relative;
}

.blog-title {
  color: white;
  height:20px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  padding-left: 10px;
}

.author {
  font-size: 11px;
  position: absolute;
  left: 5px;
  bottom: -15px;
}

.blog-text {
  font-size: 11px;
}

.card-image {
  width: 260px;
}

// .fa {
//   color: #fff;
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }
.card-content {
  height: 50px;
  overflow:scroll;
  padding: 5px 0 5px 0;
}

.user_name {
  padding-left: 20px;
  color: gray;
  font-weight: bold;
}

.card-action {
  border-top: none;
  padding: 5px 10px;
}

.pagination {
  clear: both;
  text-align: center;
}

.delete-blog {
  font-size: 11px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: orange;
}
.edit-blog {
  font-size: 11px;
  position: absolute;
  right: 40px;
  bottom: 10px;
  color: orange;
}


